* {
    color-scheme: dark;
}

#title {
    text-align: center;
}

body {
    font-size: 18px;
}

#links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: 0;
    list-style-type: none;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

main {
    margin-left: 160px;
    padding: 0px 10px;
}

footer {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-width: 768px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 0;
    }
    
    .sidenav a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #444;
    }
    
    main {
        margin-left: 0;
    }
    
    footer {
        margin-left: 0;
    }
}
