html {
    color-scheme: LIGHT;
    font-size: 1.5rem
}

table {
    border: 2px solid black;
}
th {
    border: 1px solid black;
}

a {
    color: green;
}

img {
    text-align: center;
    align-items: center;
}
